body {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

header {
    display: inline-flex;
    position: fixed;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: solid;
    border-width: thin;
    min-height: 80px;
    z-index: 1;
    opacity: 0%;
    background-color: white;
}

header .container {
    display: inline-flex;
    left: 40px;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
}

.logo {
    display: inline-flex;
    align-items: center;
    color: MediumAquamarine;
    justify-content: space-between;
    margin: 5px 5px;
    min-width: 174px;
}

nav {
    display: inline-flex;
    justify-content: space-around;
}

nav a {
    color:black;
}

.header-left {
    display: inline-flex;
    justify-content: flex-start;
    left: 40px;
}

.header-right {
    display: inline-flex;
    justify-content: flex-end;
    margin-left: 200px;
    min-width: 400px;
    margin-right: 40px;
}


span {
    margin: 0 15px;;
}

main .container {
    padding-top: 116px;
    display: flex;
    justify-content: space-between;
    width: 1232px;
}


.column {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column.large {
    width: 630px;
}

.column.medium {
    width: 300px;
}

.column.small {
    width: 240px;
}

.right {
    margin:0px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Georgia;
    font-size: 17px;
}

.story-heading {
    position: relative;
    flex-direction: column;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    justify-content: center;
    align-items: flex-start;
    height: 300px;
}



.lead-story .story-heading {
    background-image: url("./images/img-story-main.png");
    font-size: 40px;
}

.left .second-story .story-heading {
    background-image: url("./images/fall-season-img-story-2.png");
}

.left .third-story .story-heading {
    background-image: url("./images/hipster-cameraman-img-story-3.png");
}

.middle .second-story .story-heading {
    background-image: url("./images/cat-ceo-img-story-1.png");
}

.news-bites {
    display: flex;
    flex-direction: column;
}

.news-bites-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 41px;
    text-align: center;
}

.news-bites-item {
    display: flex;
    color: DimGray;
    border-bottom: 1px solid black;
    padding: 11px 20px;
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
    width: 100%;
    height: 325px;
}

footer .title {
    display: inline-block;
    padding-right: 25px;
    border-right: 2px solid white;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

footer nav {
    padding-left: 25px;
}
footer div {
    padding-bottom: 20px;
}