.container {
  display: flex;
}

header nav {
  display: flex;
}

logo {
  display: flex;
  color: MediumAquamarine;
}

nav span {
  display: inline-block;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
